.container_1 {
    position: relative;
  }
  .text1 {
    position: absolute;
    color: white;
    top: 10px;
    right: 200px;
    text-align: center;
    float: center;
  }
  .about{
    text-align: center;
  }
  .container_2{
    position: relative;
  }
  .text2{
    position: absolute;
    color: white;
    bottom: 10px;
    right: 20px;
    text-align: center;
    float: center;
  }
  .What{
    text-align: center;
  }
  .portfolio{
    text-align: center;
  }
  .bg-img {
  background-image: url("/home/ann/Desktop/Delani-studio/static/images/c_image.jpg");
  min-height: 380px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  }
 .head{
  text-align: center;
  padding-top: 20px;
  color: white;
 }
  .container_form{
    text-align: center;
  }
  #name,#email{
    width:500px;
    height: 30px;
    border:white;
    border-width: 10px;
    opacity: 0.5;
  
  }
  #yourmessage{
    width:700px;
    height: 200px;
    padding-top: 70px;
  }